.circle {
    border-radius: 100% !important;
    box-shadow: 0px 0.2rem 5px rgba(0, 0, 0, 0.381);
}

.iconButton {
    display: flex;
    justify-content: center;
}

.iconButton > svg {
    align-self: center;
}

.bgAdd {
    background: linear-gradient(180deg, rgba(135, 176, 238, 0.60) 0%, #648bc6 52.12%, rgba(113, 152, 209, 0.87) 67.23%, rgba(135, 176, 238, 0.60) 100%);

}

.bgRemove{
    background: linear-gradient(180deg, rgba(216, 78, 78, 0.59) 0%, #b72e2e 54.21%, rgba(211, 73, 73, 0.6) 100%);
}

.gradientWhite {
    color: rgba(255, 255, 255, 0.903);
}