.circle {
    border-radius: 100%;
    height: 3rem;
    width: 3rem;;
}

.bgAdd {
    background: linear-gradient(180deg, rgba(135, 176, 238, 0.60) 0%, #87B0EE 52.12%, rgba(135, 176, 238, 0.87) 67.23%, rgba(135, 176, 238, 0.60) 100%);
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.bgRemove{
    background: linear-gradient(180deg, rgba(196, 24, 24, 0.59) 0%, #C41818 54.21%, rgba(196, 24, 24, 0.60) 100%);
}