.checkbox-btn{
    border: 2px solid #099ee9 !important;
    font-weight: bolder !important;
    color: #fff !important;
    background-color: #508fee !important;
    transition: all .1s !important;
}

.checkbox-btn:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }

.btn-check + .checkbox-btn #specialIsChecked{
    display: none;
}

.btn-check + .checkbox-btn #specialIsNotaChecked{
    display: inline;
}

.btn-check:checked + .checkbox-btn #specialIsNotChecked{
    display: none;
}

.btn-check:checked + .checkbox-btn #specialIsChecked{
    display: inline;
}

.checkbox-btn:hover{
    opacity: 0.8;
}

/* .btn-check:checked + .checkbox-btn{
    background: linear-gradient(180deg, #648bc6 0%, rgba(135, 176, 238, 0.60) 52.12%, rgba(135, 176, 238, 0.60) 67.23%, #648bc6 100%) !important;
    color: #000 !important;
} */
