body {
  background-color: black;
}

.gradient-sky {
  /*background: linear-gradient(180deg, #6ba3f7 0%, rgb(168, 195, 236) 99.77%);*/
 /* background: linear-gradient(180deg, #5f9af1 0%, #79abf5 52.12%, rgba(102, 157, 240, 0.87) 65.23%, rgb(161, 199, 255) 100%);*/
 background: rgb(87,149,242);
 background: linear-gradient(180deg, rgba(87,149,242,1) 0%, rgba(74,124,198,1) 49%, rgba(135,176,238,1) 100%);

  width: 100%;
}

.userAccountIcon{
  width: 2.3rem;
  height: 2.2rem;
}

.header-shadow {
  box-shadow: 1px 1px 5px 0.1px rgba(0,0,0,0.5);
}



.logo {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  box-shadow: 1px 1px 5px 0.1px rgba(0,0,0,0.5);
  margin: 0 10px !important;
}

.logo-bussiness-text{
  margin: 0;
}
.logo-backoffice-text{
  margin: -8px 0 0 0;
}