@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
.contentItem{
    background-color: #BAD6FF;
    border-radius: 12px;
    width: 240px;
    height: 160px;
}
.contentItem:hover{
    transition: transform .5s ease-out;
    transform: scale(1.05);
}

h1{
    font-family: 'Black Han Sans', sans-serif;
}

.icon{
    width: 60px;
    height: 60px;
}

.bgGrey {
    background: #F4F4F5;
}