.field {
    position: relative;
    padding: 10px 0px;
}

.separador{
    margin: 0;
}

.field label {
    position: absolute;
    top: 0;
    left: 0;
    translate: 0.300rem 0.9rem;
    padding-inline: 0.25rem;
    pointer-events: none;
    transition: translate 250ms;
}

.field:focus-within label,
.field:not(:has(:placeholder-shown))
label {
    translate: 0rem -1rem;
}

.field:focus-within label,
.field:not(:has(:placeholder-shown))
.field {
    margin-top: 200px;
}

.field::placeholder{
    color:transparent;
}

/* CSS */
.login-button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 2.5rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.login-button:hover,
.login-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.login-button:hover {
  transform: translateY(-1px);
}

.login-button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.pass-recovery-link{
    font-size: 14px; 
    cursor: pointer;
}

.pass-recovery-link:hover{
    text-decoration: underline;
}

.nombre-logo{
    filter: drop-shadow(0 0.1rem 0.05rem #000);
}

.imagen-logo{
    filter: drop-shadow(0 0.1rem 0.05rem #000);
}
